todo-item {
    & .todo-item {
      padding-left: 15px;
      padding-right: 15px;
      display: flex;
      flex-direction: row;
      align-items: center;
      min-height: 46px;
      border: 1px solid black;
      border-radius: 10px;
      margin-top: 8px;
      & .todo-item-title {
        flex: 1;
      }

      & .todo-item-description {
        flex: 3;
      }
    }
}
