todo-list {
  & form {
    margin: 15px;
    & label {
      display: block;
    }
  }
  & .todo-list {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-items: center;
  }
}
